---
layout: default
---

<!-- Post title -->
<div class="post">
  <h1 class="post-title" style="text-align:center; font-size:36px">{{ page.title }}</h1>

  <span class="post-date" style="font-size: 18px">{{ page.date | date: "%m/%d/%Y"  }}
    <strong>Tags:</strong>
    <!-- function called assign to sort if first -->
    {% assign sorted_tags = page.tags | sort %}
      {% for tag in sorted_tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag | downcase }}">
          {{ tag }}
        </a>
      {% endfor %}
  </span>

  <section style="font-size: 16px">
    <p>{{ content }}</p>
  </section>
</div>
